<!DOCTYPE html>
<html lang="en">
<head>
  <script src="js/jquery.js"></script>
  <script src="assets/js/script.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <title>DayZ Survival</title>
</head>
<body onload="randombg()">

  <nav>
    <ul class="nav1 row">
      <li><a href="#home">Home</a></li>
      <li><a href="guides.html">Guides</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#forum">Forum</a></li>
      <li><a href="mailto:florianpelloux85@gmail.com">Contact</a></li>
    </ul>
  </nav>



  <div id="random">
    <div class="title">
      <h1>- DayZ Survival -</h1>
      <h2>Because DayZ is not only about <span>PvP</span><br>It's also about <span>surviving</span></h2>
    </div>
  </div>

  <footer style="position: relative">
    <p>&copy; D O J</p>
  </footer>

  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:827093,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</body>
</html>
