footer {
  font-size: 17px;
  background-color: #282828;
  color: white;
  background-color: #1c1c1c;
  text-align: center;
  height: 50px;
  border-top: 2px solid #161616;
  box-shadow: 0 0 15px black;
  /*position: absolute;*/
  bottom: 0;

}
footer p {
  padding-top: 12px;
}
