---
layout: default
---
<section class="container hauteur">
  {% for post in site.posts %}
  <div class="align">
    <div class="post">
      <div class="four column"> <!-- censé être un caré avec la figure au centre, pour que toutes les images soient alignées verticalement -->
        <figure>
          <img src="{{ post.image }}">
        </figure>
      </div>
      <div class="height column text">

        <div class="titre">
          <a href="{{ post.url | relative_url }}"><h1>{{ post.title }}</h1></a>
        </div>
        <div class="description">
          <p>{{ post.description }}</p>
        </div>
      </div>



    </div>
    <hr>
  </div>


  {% endfor %}
</section>
